name: Frontend CI/CD

on:
  push:
    branches: [main]
    paths:
      - "frontend/**"

jobs:
  build-and-deploy:
    runs-on: self-hosted # <--- EL TEU RUNNER!
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          
      - name: Build and Restart
        run: |
          cd ${{ secrets.PROD_PATH }}/frontend
          npm install
          npm run build
          cd ..
          COMPOSE_PROFILES=frontend docker-compose up -d frontend
